#container {
  display: flex;
}

.column{
  flex: 1;
  border: 0.5px solid black;
}

.row{
  border: 0.5px solid black;
  padding: 16px;
}

#newGrid{
  display: flex;
  justify-content: center;
}

#new-grid-button {
  margin: 16px;
  padding: 8px;
}