#container {
  border: 2px solid black;
  border-radius: 1rem;
  width: 70rem;
  height: 70rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cell {
  border: 0.5px solid black;
  border-radius: 0.5rem;
}